.root {
    -fx-background-color: rgba(0, 0, 0, 0.95);
}

.label {
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-background-color: rgb(20, 20, 20);
    -fx-text-fill: white;
}

.status_bar {
    -fx-min-width: 125;
    -fx-max-width: 125;
    -fx-text-fill: rgb(100, 100, 100);
}

.scrolls {
    -fx-min-width: 72;
    -fx-max-width: 72;
    -fx-border-color: rgb(80, 80, 80);
    -fx-border-width: 1.8;
    -fx-border-radius: 5;
    -fx-background-color: rgb(28, 28, 28);
    -fx-text-fill: rgb(100, 100, 100);
}

.status_area {
    -fx-min-width: 470;
    -fx-max-width: 470;
    -fx-text-fill: linear-gradient(black, white);
    -fx-text-alignment: center;
}

.vbox {
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-background-color: rgb(20, 20, 20);
}